html {
    font-size: 16px;
}

body {
    font-family: "Red Hat Text";
}

header {
    background-color: #741010;
    height: 6rem;
    display: flex;
    padding: .25rem;
    align-items: center;
    border-bottom: .5rem solid #b05d5d;
}

h1 {
    font-family: Kufam;
    min-width: 15rem;
}

.name {
    color: #b3dde0;
    font-size: 2rem;
}

.portfolio {
    color: #4fb1b6;
    font-size: 3.6rem;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #e1f1f3;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Roboto Mono";
    text-decoration: none;
}

.self_portrait {
    min-width: 6rem;
}

.self_portrait img {
    height: 5rem;
    width: auto;
    border-radius: 50%;
    border: 4px dotted #107474;
}

.intro {
    margin-left: 2rem;
}

h2 {
    font-size: 2rem;
    font-family: Arvo;
    font-weight: 600;
    margin: .5rem 0;
}

h3 {
    font-size: 1.5rem;
    font-family: Arvo;
    margin: .25rem 0;
}

p {
    
}

.contents {
    margin: .2rem 2rem 1.5rem;
    border-top: .5rem solid #ae2a23;
    border-bottom: .25rem solid #ae2a23;

}

.contents nav {
    width: 80%;
    margin: 2rem auto;
    
}

.contents nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    justify-content: center;
    
}

.contents nav ul li {
    background-color: #e1f1f3;
    padding: .5rem;
    
}

.contents nav ul li h3 {
    font-size: 1rem;
    font-weight: bold;
    
}

.contents nav ul li h3 a {
    color: #114846;
}

.contents nav ul li p {
    font-size: .9rem;
    color:#ae2a23;
}

.project {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 21rem 1fr;
    margin-bottom: 1.5rem;
    border-bottom: .5rem solid #e7c1c5;
    padding-bottom: 1.5rem;

}

.project img {
    width: 95%;
    border: 5px solid #129093;
    border-radius: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.project h2 {

}

.project h3 {

}

.project ul {
    display: flex;
    flex-wrap: wrap;
}

.project ul h4 {
    width: 100%;
}

.project ul li {
    font-size: .8rem;
    color: #ae2a23;
    margin: .5rem .25rem;
}

.project p {
    margin: .5rem 0;
}

.project nav {

}

.project nav a {
    color: #114846;
}

@media only screen and (max-width: 600px) {
    .project {
        margin-left: 1rem;
        grid-template-columns: 16rem 1fr;
    }
    
    .project img {
        border: 3px solid #129093
    }
    
    .details {
        
    }
    
    .project h2 {
        font-size: 1.5rem;
    }
    
    .project h3 {
        font-size: 1.25rem;
    }
    
    .project ul {

    }
    
    .project ul h4 {
        width: fit-content;
        margin-right: .5rem;
    }
    
    .project ul li {
        font-size: .8rem;
        margin: .25rem .25rem;
    }
    
    .project p {
        margin: .25rem 0;
        font-size: .9rem;
    }
    
    .project nav {
    
    }
    
    .project nav a {
        font-size: .8rem;
    }
}

.more {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.more a {
    color: #107474;
}

footer {
    background-color: #741010;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-top: .25rem solid #b05d5d;
}

.copyright {
    font-size: .8rem;
    font-weight: lighter;
    color: #e7c1c5;
    width: 25%;
}

footer nav {
    width: 75%;
    text-align: right;
}

footer nav a {
    color: #e1f1f3;
}